
body{
    background: rgb(16, 16, 40);
    color: white;
    padding: 0px;
    margin: 0px;
}

/* Navigation header */
nav.normal{
    background: black;
    padding: 15px;
    position: sticky;
}
nav.normal ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav.normal ul li{
    color: rgb(236, 236, 236);
    background-color: rgba(22, 22, 22, 0.308);
    font-size: 200%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    margin-right: 5%;
    padding: 5px;
}